@mixin base {
  display: inline-flex;
  padding: 14px 16px;
  border-radius: 12px;
  align-items: center;
  flex-shrink: 0;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  transition:
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    border 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
  }
}

@mixin primary {
  @include base;

  color: var(--white);
  background-color: var(--blue);

  &:hover {
    background-color: var(--black);
  }

  &:focus-visible {
    outline: 2px solid var(--black);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:active {
    color: var(--white);
    background-color: var(--blue);
  }

  &:disabled {
    background-color: var(--grey);
  }
}

@mixin primary-black {
  @include primary;

  background-color: var(--black);

  &:active {
    background-color: var(--black);
  }
}

@mixin secondary {
  @include base;

  color: var(--foreground);
  background-color: var(--background);

  &:hover,
  &.selected {
    background-color: var(--foreground);
    color: var(--background);
  }

  &:focus-visible {
    outline: 2px solid var(--foreground);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:active {
    color: var(--foreground);
    background-color: var(--background);
  }

  &:disabled {
    color: var(--grey);
  }
}

@mixin tertiary {
  @include secondary;

  padding: 6px 12px;
  border-radius: 8px;
  outline: 1px solid var(--foreground);
}
