@mixin base {
  min-width: var(--min-width), 17ch;

  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0em;
  color: var(--foreground);
  border-radius: 8px;
  background-color: var(--background);

  .react-select {
    &__control {
      background-color: var(--background);

      border-radius: 8px;
      padding: 10px 10px 7px;
      border: 1px solid $color;
    }

    &__single-value,
    &__placeholder {
      color: var(--foreground);
    }

    &__indicator-separator {
      display: none;
    }

    // Opened menu styling
    &__menu {
      margin-top: -1px;
      padding: 0;
      background-color: var(--background);
      border: 1px solid $color;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    &__menu-list {
      padding: 0;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    &__option {
      background-color: var(--background);
      color: var(--foreground);
      border-top: 1px solid var(--foreground);

      &:hover {
        background-color: var(--foreground);
        color: var(--background);
        cursor: pointer;
      }
    }
  }
}
