@mixin base {
  min-width: var(--min-width), 17ch;

  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  color: var(--foreground);
  border-radius: 8px;
  background-color: var(--background);

  .react-select {
    &__control {
      height: 34px;
      min-height: auto;
      padding: 8px 7px 7px 12px;

      background-color: var(--background);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); // hide default box-shadow
      border-radius: 8px;
      border: none;

      &--menu-is-open {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      &--is-focused {
        border: none !important;
      }

      &:hover {
        background-color: var(--foreground);
        cursor: pointer;

        .react-select__single-value,
        .react-select__placeholder,
        .react-select__indicator {
          color: var(--background);
        }
      }
    }

    &__value-container {
      padding: 0;
    }

    &__single-value,
    &__placeholder {
      color: var(--foreground);
    }

    &__indicator-separator {
      display: none;
    }

    &__indicator {
      position: relative;
      top: -2px !important;
      color: var(--foreground);
      padding: 0;
      font-size: 18px;
      scale: 1.4;
    }

    // Opened menu styling
    &__menu {
      margin-top: -1px;
      padding: 0;
      background-color: var(--background);
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    &__menu-list {
      padding: 0;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.4);
    }

    &__option {
      background-color: var(--background);
      color: var(--foreground);
      border-top: 1px solid var(--foreground);

      &:hover {
        background-color: var(--foreground);
        color: var(--background);
        cursor: pointer;
      }
    }
  }
}
