$tablet-breakpoint: 980px;
$mobile-breakpoint: 840px;

@mixin base {
	font-style: normal;
	font-weight: 400;
}

@mixin heading-1 {
	@include base();
	font-size: 100px;
	line-height: 100%; /* 100px */
}

@mixin heading-2 {
	@include base();
	font-size: 80px;
	line-height: 96px; /* 120% */
	font-weight: 600;

	@media (max-width: $mobile-breakpoint) {
		font-size: 64px;
		line-height: 74px; /* 115.625% */
	}
}

@mixin heading-3 {
	@include base();
	font-size: 36px;
	line-height: 42px;
	font-weight: 600;

	@media (max-width: $mobile-breakpoint) {
		font-size: 32px;
		line-height: 38px; /* 118.75% */
	}
}

@mixin heading-4 {
	@include base();
	font-size: 28px;
	line-height: 34px;
	font-weight: 600;

	@media (max-width: $mobile-breakpoint) {
		font-size: 18px;
		line-height: 26px; /* 144.444% */
	}
}

@mixin heading-5 {
	@include base();
	font-size: 20px;
	line-height: 28px;
}

@mixin heading-6 {
	@include base();
	font-size: 16px;
	line-height: 24px;
}
