@charset "UTF-8";
@use "./reset.css";
@use "./mixins/buttons.scss" as buttons;
@use "./mixins/checkboxesAndRadios.scss" as checkboxesAndRadios;
@use "./mixins/dropdown.scss" as dropdown;
@use "./mixins/typography.scss" as typography;

/* ••••••••••••••••••••••••••••••••
© 2018-now Nedislav Kamburov
All rights reserved
www.nedkamburov.com
•••••••••••••••••••••••••••••••• */
// General
// --------------------------------

@font-face {
  font-style: normal;
  font-family: "Font Regular";
  src: url(../app/assets/fonts/JT-Picolo/JTPicoloVF.ttf) format("truetype");
}

@font-face {
  font-style: normal;
  font-family: "Adobe Blank";
  src: url(../app/assets/fonts/AdobeBlank/AdobeBlank.woff) format("woff");
}

// @font-face {
//   font-style: normal;
//   font-family: "Font Regular 2 Italic";
//   src:
//   // url(../assets/fonts/WilliamTextProRegIta.woff2) format("woff2"),
//   // url(../assets/fonts/WilliamTextProRegIta.woff) format("woff"),
//     url(../assets/fonts/WilliamTextProRegIta.otf) format("opentype");
//   // url(../assets/fonts/WilliamTextProRegIta.ttf) format("truetype");
// }

// @font-face {
//   font-style: normal;
//   font-family: "Font Title";
//   src:
//     url(../assets/fonts/KHSHRegular/KHSH_Regular.woff2) format("woff2"),
//     url(../assets/fonts/KHSHRegular/KHSH_Regular.woff) format("woff"),
//     url(../assets/fonts/KHSHRegular/KHSH_Regular.otf) format("opentype"),
//     url(../assets/fonts/KHSHRegular/KHSH_Regular.ttf) format("truetype");
// }

:root {
  /* Website colours */
  --blue: #008bf8;
  --red: #ff2e00;
  --black: #010101;
  --white: #fcfcfc;
  --grey: #969696;

  --background: var(--white);
  --foreground: var(--black);
}

[data-theme="dark"] {
  --background: var(--black);
  --foreground: var(--white);
}

// Variables
// --------------------------------
$background-color: var(--background);
$color: var(--foreground);

$font-size: 1.5rem;
$line-height: 1.2;
$font-preview: $font-size * 8;

$gutter-v: $font-size * $line-height * 1.2;
$gutter-h: $font-size * $line-height * 0.9;
$gutter-thin-h: $gutter-h * 0.6;
$gutter-thin-v: $gutter-v * 0.6;
$nav-offset: $gutter-h * 1.5;

$indent: $gutter-v;
$duration: 0.6s;
$duration-s: 0.3s;
$easing: ease-out;
$mobile-breakpoint: 840px;

// Mixins
// --------------------------------
// @include vendor-prefix-attribute(attribute, value);
@mixin vendor-prefix-attribute($attribute, $value) {
  -ms-#{$attribute}: $value;
  -o-#{$attribute}: $value;
  -moz-#{$attribute}: $value;
  -webkit-#{$attribute}: $value;
  #{$attribute}: $value;
}

// @include vendor-prefix-value(attribute, value);
@mixin vendor-prefix-value($attribute, $value) {
  #{$attribute}: -ms-#{$value};
  #{$attribute}: -o-#{$value};
  #{$attribute}: -moz-#{$value};
  #{$attribute}: -webkit-#{$value};
  #{$attribute}: $value;
}

* {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  width: 100%;
  scroll-behavior: smooth;

  // Responsiveness
  @media (max-width: 480px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    font-size: 7px;
  }

  @media (max-width: 680px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    font-size: 8px;
  }

  @media (max-width: 900px) {
    font-size: 10px;
  }
}

body {
  @include checkboxesAndRadios.custom();

  width: 100%;
  font-family:
    "Font Regular",
    Helvetica,
    Arial sans-serif;
  font-weight: normal;
  font-size: $font-size;
  line-height: $line-height;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -moz-osx-font-smoothing: grayscale; // fixing bolder font issues
  -webkit-font-smoothing: antialiased; // fixing bolder font issues
  color: $color;
  background-color: $background-color;
  overflow-x: hidden;
  scrollbar-width: thin;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: inherit;
}

a:hover,
a:active {
  text-decoration: underline;
  // Simulate text-underline-offset but with better browser support
  // padding-bottom: 2px;
  // box-sizing: content-box;
  // border-bottom: 1px solid red;
}

a:focus {
  text-decoration: none;
}

input,
button,
select,
textarea {
  @include vendor-prefix-attribute(text-size-adjust, none);
  @include vendor-prefix-attribute(border-radius, 0);
  @include vendor-prefix-attribute(appearance, none);
}

nav {
  min-height: $nav-offset;
  position: fixed;
  width: calc(100vw - #{$gutter-v} * 4);
  padding: $gutter-h $gutter-v * 2 $gutter-thin-h $gutter-v * 2;
  display: flex;
  gap: $gutter-v * 2;
  background-color: var(--black);
  color: var(--white);
  border-bottom: 1px solid var(--white);
  z-index: 10000;

  .inner-nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

    .pages,
    .settings {
      display: flex;
      gap: $gutter-h * 1.5;
    }

    .settings {
      align-items: center;
      .theme-switcher {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.wrapper {
  position: relative;
  min-height: calc(100vh - #{$nav-offset} * 8);
  padding: $nav-offset * 3 $gutter-v * 2;
  overflow-x: hidden;

  .container {
    &.typeface-preview {
      padding-top: $gutter-h * 2;
      display: flex;
      flex-direction: column;
      gap: $gutter-h * 4;

      a {
        display: flex;
        justify-content: center;

        &:hover {
          text-decoration: none;
        }

        h2 {
          font-size: $font-preview;

          &:hover {
            font-family: "Hovered" !important;
          }
        }

        .typeface-details {
          margin-top: $gutter-h * 2;
          display: flex;
          justify-content: center;

          :nth-child(2) {
            &::before {
              content: "∙";
              margin: 0 calc(#{$gutter-thin-v} / 3);
            }
          }
        }
      }
    }

    &.typeface {
      .typeface-styles {
        display: flex;
        flex-direction: column;
        gap: $gutter-h;
        padding: $gutter-h * 4 0;
        text-align: center;

        a:hover {
          text-decoration: none;
        }
      }

      .download {
        a {
          margin-top: $gutter-h;
          @include buttons.tertiary();

          &:hover {
            text-decoration: none;
          }
        }

        canvas {
          width: 100% !important;
          height: auto !important;
        }
      }
    }

    &.style {
      .main-section {
        &:first-of-type {
          padding-top: $gutter-h * 2;
        }

        .styles-weights {
          display: flex;
          flex-direction: column;
          gap: $gutter-h;
          text-align: center;

          h2 {
            font-size: 58px;
          }
        }

        .typetesters {
          display: flex;
          flex-direction: column;
          gap: $gutter-h * 4;
        }
      }
    }

    &.page {
      h2,
      h3 {
        font-weight: 600;
        padding: $gutter-h * 2 0 $gutter-h * 5 0;
      }

      h4 {
        font-size: 48px;
      }

      .main-section {
        section {
          padding-top: $gutter-h * 2;
        }
      }

      .main-section + h4 {
        margin-top: $gutter-h * 4;
      }
    }

    &.cart.page {
      h3 {
        padding: $gutter-h * 2 0 $gutter-h 0;
      }

      .no-cart-items {
        margin: $gutter-h * 3 0;

        .browse-more {
          margin-top: $gutter-h;
          @include buttons.primary();
        }
      }
    }
  }
}

footer {
  // min-height: $nav-offset;
  padding: $gutter-h $gutter-v * 3.5;
  background-color: var(--black);
  color: var(--white);
  border-top: 1px solid var(--white);

  display: flex;
  justify-content: space-between;

  .social-media,
  .pages {
    display: flex;
    gap: $gutter-thin-v;
  }
}

// =-=-=-=-=-=-=-=-=-=
// Components Styling
// =-=-=-=-=-=-=-=-=-=

.main-section {
  margin-bottom: $gutter-h * 2;

  &:not(.no-indent) {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 10fr;
    gap: $gutter-v * 4;

    .section-wrapper {
      display: grid;
      justify-items: center;

      section {
        width: 100%;
        max-width: 1280px;
        padding-top: $gutter-h * 3;
      }
    }
  }

  .section-wrapper {
    section {
      padding-top: $gutter-h;
    }
  }
}

.purchase-section {
  .license-options {
    .purchase-option {
      .options {
        margin: 16px 0;

        form {
          display: flex;
          flex-wrap: wrap;
          gap: 8px;

          input[type="radio"] {
            display: none;
          }

          label {
            @include buttons.tertiary();

            padding: 13px 24px;
          }
        }
      }
    }
  }

  .font-selection {
    form {
      display: flex;
      flex-direction: column;
      gap: $gutter-h * 2;

      .typeface-package {
        display: flex;

        .typeface-details {
          flex-grow: 1;

          label {
            font-size: 20px;
            font-weight: 700;
          }

          .styles-and-weights {
            margin-top: $gutter-thin-h;
            text-indent: 25px;
          }
        }

        .typeface-price {
          flex-grow: 0;
        }
      }

      .weights-packages {
        .weight-details {
          display: flex;
          justify-content: space-between;

          label.weight-title {
            font-size: 20px;
          }
        }
      }
    }
  }

  .license-options > div,
  .font-selection-options {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 10fr;
    gap: $gutter-v * 4;

    &:not(:first-of-type) {
      margin-top: $gutter-h * 2;
    }

    h4 {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.quick-buttons {
  width: calc(100% - #{$gutter-v} * 4);
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
}

.back-button {
  padding-left: 0;
  transition: padding $duration-s $easing;

  &:hover {
    padding-left: calc(#{$gutter-thin-v} / 2);
  }
}

.buy-button {
  @include buttons.primary();
}

.buying-price {
  display: flex;
  align-items: center;
  gap: 8px;

  .discount-label {
    background-color: var(--red);
    color: var(--white);
    padding: 4px 8px;
    border-radius: 4px;
    flex-grow: 0;
  }

  .discount-old-price {
    @include typography.heading-5();
    text-decoration: line-through;
    color: var(--grey);
  }

  .price {
    @include typography.heading-5();
  }
}

.iconly {
  position: relative;
  padding: 0 2px;
  top: -1px;
  transform: scale(1.5);
}

.supported-languages {
  article {
    &:not(:first-of-type) {
      margin-top: $gutter-h * 2;
    }

    h6 {
      font-weight: 600;
    }

    .languages {
      margin-top: $gutter-thin-h;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      gap: $gutter-h;
    }
  }
}

.font-tester {
  position: relative;

  &:nth-of-type(odd) {
    z-index: 99;
  }

  .font-tester-header {
    position: absolute;
    display: flex;
    align-items: baseline;
    gap: 24px;

    .fontsize {
      min-width: 25ch;
    }

    .opentype-features {
      font-size: 16px;
    }

    .alignment,
    .columns {
      label {
        font-size: 20px;
        vertical-align: middle;
        opacity: 0.5;
        transition: opacity $duration-s ease-in-out;
        user-select: none;

        &.active {
          opacity: 1;
        }

        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }

    .edit-text {
      position: relative;
      top: -2px;
      font-size: 16px;

      button {
        font-family: inherit;
        font-size: inherit;
        background: none;
        border: none;
        text-decoration: underline;

        &:hover {
          cursor: pointer;
        }
      }
    }

    input[type="radio"] {
      display: none;
    }
  }

  .font-sample {
    padding-top: $gutter-h * 4;
    transition: font-size 0.1s ease-out;

    user-select: none;
  }
}

.slider {
  height: max-content;
  display: flex;
  align-items: center;
  gap: $gutter-thin-v;

  label {
    max-width: 6ch;
  }
}

input[type="range"] {
  /* removing default appearance */

  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;

  height: 1px;
  background: var(--foreground);
  border-radius: 16px;

  &::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    height: 16px;
    width: 16px;
    background-color: var(--background);
    border-radius: 50%;
    border: 1px solid var(--foreground);
  }

  /* Thumb: Firefox */
  &::-moz-range-thumb {
    height: 16px;
    width: 16px;
    background-color: var(--background);
    border-radius: 50%;
    border: 1px solid var(--foreground);
  }
}

div.dropdown {
  @include dropdown.base();
  min-width: var(--min-width);
}

.checkbox-dropdown {
  width: 15ch;
  border-radius: 8px;
  background: color-mix(in srgb, var(--background) 90%, transparent);
  overflow: hidden;

  &.open {
    box-shadow: 0px 1px 3px 0px var(--foreground);
  }

  label.title {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 2px;

    span {
      position: relative;
      top: -2px;
      font-size: 20px;
    }

    &:hover {
      color: var(--background);
      background: color-mix(in srgb, var(--foreground) 90%, transparent);
      cursor: pointer;
    }
  }

  ul {
    padding: 10px 10px 6px;
    padding-top: $gutter-h;

    li {
      display: flex;

      label:hover {
        cursor: pointer;
      }

      input {
        flex-shrink: 0;
      }
    }
  }
}

h1 {
  @include typography.heading-1();
}

h2 {
  @include typography.heading-2();
}

h3 {
  @include typography.heading-3();
}

h4 {
  @include typography.heading-4();
}

h5 {
  @include typography.heading-5();
}

h6 {
  @include typography.heading-6();
}

img,
video {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

em {
  // font-family: "Font Regular 2 Italic";
  font-weight: inherit;
  font-style: italic;
}

strong {
  display: block;
  font-weight: 700;
}

p {
  width: 100%;
  display: inline-block;
}

p + p {
  padding-top: $gutter-h;
}
